    /*middle*/

    .whole-wrap {
        height: 140px;
        border: 1px solid rgb(184, 192, 194);
        margin: 0 20px 20px 20px;
    }

    .pic-wrap {
        width: 200px;
        height: 138px;
        float: left;
        display: inline-block;
    }

    .info-wrap {
        width: 450px;
        height: 100%;
        margin-left: 220px;
    }

    .info-wrap p {
        margin: 0 0 5px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #808080;
    }

    .info-wrap .name {
        padding-top: 15px;
        margin: 0 0 15px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .button-g {
        width: 100px;
        float: right;
        margin: -90px 20px 0 0;
        height: 30px;
    }

    .fac-pic {
        margin: 85px 0px 15px 200px;
    }

    .new-wrap {
        margin: 20px 0 15px 20px;
        color: rgb(103, 103, 95);
        font-size: 24px;
        font-weight: bold;
    }

    .fac-list {
        margin-bottom: 50px;
        background: #edebeb;
    }
