    .whole {
        width: 860px;
        padding: 15px 20px;
    }

    .title-wrap {
        margin-top: 10px;
        font-size: 16px;
        color: #808080;
    }

    .title {
        color: rgb(195, 130, 226);
        border-bottom: none !important;
    }

    .name-wrap {
        margin-top: 20px;
        box-sizing: border-box;
        margin-bottom: 34px;
    }

    .select {
        margin-top: 10px 0 15px 0;
    }

    .search {
        width: 220px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .input-style {
        margin-top: 1px !important;
        margin-bottom: -1px !important;
    }