<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <script type="text/javascript" src="/static/bootstrap/jquery-2.0.0.min.js"></script>
    <title>工厂详情</title>
</head>
<body>
    <div class="top-wrap">
        <img src="/static/image/logo.jpg" class="logo" alt="logo" />
        <span class="top-title">EPS智能工厂管理系统</span>
        <ul class="ul-wrap">
            {% if request.user.is_authenticated %}
            <li class="li-wrap">
                <span class="glyphicon glyphicon-user"></span>
                <span>周轶轩</span>
            </li>
            <li class="li-wrap">
                <span><a href="/">退出登录</a></span>
            </li>
            {% else %}
            <li class="li-wrap">
                <span><a href="/">登录</a></span>
            </li>
            {% endif %}
        </ul>
    </div>
    <div>
        <div class="left-wrap">
            <div class="title">
                <span class="shangjia">管理平台</span>
            </div>
            <div class="list" id="list">
                <ul>
                    <li class="active">
                        <a href="/index/">首页</a>
                    </li>
                    <li>
                        <a href="/orders/">订单信息</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="whole" style="margin: 60px 30px 60px 230px;">
            <div class="title-wrap">首页&nbsp;&nbsp;>>&nbsp;&nbsp;<span class="title">工厂详情</span></div>
            <div class="name-wrap">
                <div class="detail-wrap">
                    <h1 class="name">成都高产机械厂</h1>
                    <img class="pic" src="/static/image/pic12.jpg" />
                    <p class="introduction">工厂介绍：工厂拥有2层共5000多平米生产车间，拥有自动化电池生产线及移动电源组装线6条，全部生产车间采用最先进的无尘生产车间，工厂拥有老化设备10组，可以同时上线1万台成品移动电源老化测试，自有激光雕刻机，包装过塑机，电池恒温实验室，在成品组装之间电池已经经过两次严格测试，在组装之后包装之前还会经过专业的老化测试，因此不良率已经严格的控制在了千分之三之内。
                        工厂一直定位高端，中国南方航空公司、厦门航空公司、保时捷等企业指定礼品移动电源生产厂家，授权款式请直接参考我们的客户案例。
                        工厂自有贴片机6台，可以根据客户要求完成功能定制，自己打板，自己贴片，另外在容量，材质，外形，颜色，丝印彩页浮雕印等移动电源外形定制上也非常成熟，比同行出样时间会快一到两天，设计可以免费提供设计策划方案，在礼品移动电源的定制，外贸移动电源的代加工生产上具有丰富的经验。
                        目前市场上可以知道外壳的公模款式都可以生产，生产方式有两种，一是全部我们工厂采购生产，另外一种方式就是客户自己采购，来料加工，我们只收取加工费用，同时我们工厂自己有超过30款的私模产品，私模产品只提供成品生产。
                    <p class="information">工厂最新资讯： 可以根据客户要求完成功能定制，自己打板，自己贴片，另外在容量，材质，外形，颜色，丝印彩页浮雕印等移动电源外形定制上也非常成熟，比同行出样时间会快一到两天，设计可以免费提供设计策划方案，在礼品移动电源的定制，外贸移动电源的代加工生产上具有丰富的经验。
                    目前市场上可以知道外壳的公模款式都可以生产，生产方式有两种，一是全部我们工厂采购生产，另外一种方式就是客户自己采购，来料加工。可以根据客户要求完成功能定制，自己打板，自己贴片，另外在容量，材质，外形，颜色，丝印彩页浮雕印等移动电源外形定制上也非常成熟，比同行出样时间会快一到两天，设计可以免费提供设计策划方案，在礼品移动电源的定制，外贸移动电源的代加工生产上具有丰富的经验。
                    目前市场上可以知道外壳的公模款式都可以生产，生产方式有两种，一是全部我们工厂采购生产，另外一种方式就是客户自己采购，来料加工。
                    </p>
                    <p class="time">成立时间： 2017年</p>
                    <p>生产产品：机床</p>
                    <p class="mobile">联系方式： 18912108008</p>
                    <p class="address">工厂地址： 四川省成都市西源大道2006号</p>
                    <p class="scale">工厂规模： 500 - 2000 人</p>
                    <p class="person">联系人： 凹凸慢</p>
                </div>
            </div>
        </div>
    </div>
    <div class="version">Copyright © 2017 eps manage system , All right reserved.Created by zyx.</div>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>