<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/store.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <script type="text/javascript" src="/static/bootstrap/jquery-2.0.0.min.js"></script>
    <title>货仓存储</title>
</head>
<body style="background: #edebeb;">
    <div class="top-wrap">
        <img src="/static/image/logo.jpg" class="logo" alt="logo" />
        <span class="top-title">EPS智能工厂管理系统</span>
        <ul class="ul-wrap" id="show">
            {% if request.user.is_authenticated %}
            <li class="li-wrap">
                <span class="glyphicon glyphicon-user"></span>
                <span>{{ request.user.username }}</span>
            </li>
            <li class="li-wrap" id="out" style="display: none;">
                <span><a href="/">退出登录</a></span>
            </li>
            {% else %}
            <li class="li-wrap">
                <span><a href="/">登录</a></span>
            </li>
            {% endif %}
        </ul>
    </div>
    <div>
        <div class="left-wrap">
            <div class="title">
                <span class="shangjia">管理平台</span>
            </div>
            <div class="list" id="list">
                <ul>
                    <li>
                        <a href="/index/">首页</a>
                    </li>
                    <li>
                        <a href="/orders/">订单信息</a>
                    </li>
                    <li>
                        <a href="/task/">生产任务</a>
                    </li>
                    <li class="active">
                        <a href="/store/">货仓存储</a>
                    </li>
                    <li>
                        <a href="/agv/">AGV属性</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="whole" style="margin: 60px 30px 0 230px;min-width: 980px;">
                <div class="title-wrap">首页&nbsp;&nbsp;>>&nbsp;&nbsp;<span class="title">货仓存储</span></div>
                <div class="name-wrap">
                    <div style="overflow: auto">
                        <div id="nolist" style="display: none;">暂无仓储!</div>
                        <div class="fac-list" id="flist">
                            {% for i in store %}
                            <div class="whole-wrap">
                                <div class="info-wrap">
                                    <p class="mobile">预发产品型号：{{ i.version }}</p>
                                    <p class="address">重量：{{ i.weight }}kg</p>
                                    <p class="mobile">最晚入仓时间：{{ i.time }}</p>
                                    <p class="mobile">出料比例：{{ i.ratio }}</p>
                                </div>
                                <div class="info-wrap" style="float: right;">
                                    <p class="mobile">批号：{{ i.batch }}</p>
                                    <p class="introduction">成型产品型号：{{ i.model }}</p>
                                    <p class="introduction">关联型号：{{ i.contact }}</p>
                                    <p class="introduction">料颜色：{{ i.color }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="version">Copyright © 2017 eps manage system , All right reserved.Created by zyx.</div>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/store.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>