<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/task.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <script type="text/javascript" src="/static/bootstrap/jquery-2.0.0.min.js"></script>
    <title>生产任务</title>
</head>
<body>
    <div class="top-wrap">
        <img src="/static/image/logo.jpg" class="logo" alt="logo" />
        <span class="top-title">EPS智能工厂管理系统</span>
        <ul class="ul-wrap" id="show">
            {% if request.user.is_authenticated %}
            <li class="li-wrap">
                <span class="glyphicon glyphicon-user"></span>
                <span>{{ request.user.username }}</span>
            </li>
            <li class="li-wrap"  id="out" style="display: none;">
                <span><a href="/">退出登录</a></span>
            </li>
            {% else %}
            <li class="li-wrap">
                <span><a href="/">登录</a></span>
            </li>
            {% endif %}
        </ul>
    </div>
    <div>
        <div class="left-wrap">
            <div class="title">
                <span class="shangjia">管理平台</span>
            </div>
            <div class="list" id="list">
                <ul>
                    <li>
                        <a href="/index/">首页</a>
                    </li>
                    <li>
                        <a href="/orders/">订单信息</a>
                    </li>
                    <li class="active">
                        <a href="/task/">生产任务</a>
                    </li>
                    <li>
                        <a href="/store/">货仓存储</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="whole" style="margin: 60px 30px 60px 230px;min-width: 860px;">
            <div class="title-wrap">首页&nbsp;&nbsp;>>&nbsp;&nbsp;<span class="title">生产任务</span></div>
            <div class="name-wrap">
{#                <form class="bs-example bs-example-form search" role="form">#}
{#                    <div class="input-group">#}
{#                        <input type="text" class="form-control input-style" placeholder="请输入产品名称">#}
{#                        <span class="input-group-addon glyphicon glyphicon-search"></span>#}
{#                    </div>#}
{#                </form>#}
                <div style="overflow: auto">
                    <div id="nolist" style="display: none;">暂无生产任务!</div>
                    <table class="table table-bordered tab">
                        <thead>
                            <tr>
                                <th>工厂</th>
                                <th>产品</th>
                                <th>成型量</th>
                                <th>生产状态</th>
                                <th>原料类型</th>
                                <th>容量</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in task %}
                            <tr>
                                <td>{{ i.factory }}</td>
                                <td>{{ i.product }}</td>
                                <td>{{ i.count }}</td>
                                <td>{{ i.state }}</td>
                                <td>{{ i.raws }}</td>
                                <td>{{ i.weight }}kg</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="version">Copyright © 2017 eps manage system , All right reserved.Created by zyx.</div>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/ordersInfo.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>